

.contact-form{
    font-size: 25px;
}

.contact-form__h2{
    font-size: 2em;
    font-family: "Lobster", sans-serif;
    line-height: 1.9;
    font-weight: bold;
    color: red;
}

.contact-form__h2-p {
    font-family: "Lobster", sans-serif;
    font-weight: 100;
}