* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

section{
    border: solid black;
    border-radius: 10px;
    width: 20em;
    height: 30em;
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    margin: auto ;
    margin-top: 5em;
}


img{
    border-radius: 100px;
    height: 5em;
    margin: 3em 7em 0.7em;
}
h3{
    text-align: center;
    margin-top: 1em;
}

p{
    color: hsl(75, 94%, 57%);
    font-weight: bold;
    text-align: center;
}

h6{
    text-align: center;
    margin-top: 0.5em;
    font-size: 18px;
}

button{
    width: 80%;
    height: 30px;
    margin: 5px 30% 5px 10%;
    border-radius: 8px;
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    font-size: 12px;
}

button:hover{
    background-color: hsl(75, 94%, 57%);
    color: black;
}
