* {
        margin: 0;
        padding: 0;
        outline: 0;
        box-sizing: border-box;
        font-family: "Lobster", sans-serif;
        font-weight: 100;
        font-size: 30px;
}

h2{
        background-color: red;
        display: inline-block;
        padding: 100px;
        box-sizing: border-box;
        text-align: center;
        margin: 20px 10px;
        border-radius: 30px;
        border: 8px solid blue;
        box-shadow: 30px 20px 10px #000;
        text-shadow: 2px 2px 7px #fff, 2px 2px 7px #fff, 2px 2px 7px #fff;
        transform: rotate(-45deg);
}
